<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Layout</title>
</head>
<body>

  <main>

		<section class="social-links">
			<ul class="social-links__wrapper">
				<li class="social-links__item">
					<a href="#">
						<img src="img/social-links-1.png" alt="Shared">
					</a>
				</li>
				<li class="social-links__item">
					<a href="#">
						<img src="img/social-links-2.png" alt="Facebook">
					</a>
				</li>
				<li class="social-links__item">
					<a href="#">
						<img src="img/social-links-3.png" alt="Instagramm">
					</a>
				</li>
				<li class="social-links__item">
					<a href="#">
						<img src="img/social-links-4.png" alt="Twitter">
					</a>
				</li>
			</ul>
		</section>

    <section class="top-section">
      <div class="container">
				<a class="top-section__menu" href="#">
					<p class="top-section__menu-text">Menu</p>
					<img src="img/top-sect-hamb.png" alt="Menu">
				</a>
				<div class="top-section__wrapper">
          <img src="img/top-sect-logo.png" alt="One World Dating" class="top-section__logo">
          <h1 class="top-section__title">Find Someone to Click With</h1>
          <div class="top-section__button-wrapper">
            <a class="top-section__button" href="#">Get Started</a>
          </div>
          <div class="top-section__boxes">
						<div class="top-section__box-text">
							<p>One World</p>
						</div>
						<div class="top-section__box-text">
							<p>Two Hearts</p>
						</div>
						<div class="top-section__box-text">
							<p>One Site</p>
						</div>
          </div>
        </div>
      </div>
    </section>

		<section class="second-section">
			<div class="container">
				<div class="second-section__wrapper">
					<h2 class="second-section__title">Welcome!</h2>
					<p class="second-section__subtitle">
						“Love is a promise, love is a souvenir, once given never forgotten,<br> never let it disappear.”
					</p>
					<div class="second-section__subtitle-author">- John Lennon</div>
				</div>
			</div>
		</section>

		<section class="third-section">
			<div class="container">
				<div class="third-section__wrapper">
					<h2 class="third-section__title">It's free to join</h2>
					<a href="#" class="third-section__facebook-join-button">
						Sign up with Facebook
					</a>
					<div class="third-section__devide">
						<span>Or</span>
					</div>
					<form action="#" class="third-section__form">
						<input class="third-section__form-input" type="text" placeholder="Email">
						<input class="third-section__form-input" type="text" placeholder="Username">
						<input class="third-section__form-input" type="password" placeholder="Password">
						<input class="third-section__form-input" type="password" placeholder="Confirm Password">
						<button type="submit" class="third-section__form-submit third-section__form-input">Let's go!</button>
					</form>
				</div>
			</div>
		</section>

		<section class="fourth-section">
			<div class="container">
				<div class="fourth-section__wrapper">
					<div class="fourth-section__wrapper-inner">
						<h2 class="fourth-section__title">Join now</h2>
						<p class="fourth-section__subtitle">It's free!</p>
						<a href="#" class="fourth-section__button">Get Started</a>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer">
			<div class="container">
				<div class="footer__wrapper">
					<span class="footer__information">Sign up for our newsletter</span>
					<form action="#" class="footer__sign-up">
						<input type="email" placeholder="Email Address" class="footer__input">
						<input type="submit" value="Get Started" class="footer__submit">
					</form>
				</div>
			</div>

			<div class="footer__links-wrapper">
				<div class="footer__links">
					<a class="footer__link" href="#">About</a>
					<a class="footer__link" href="#">Contact</a>
					<a class="footer__link" href="#">FAQs</a>
					<a class="footer__link" href="#">Blog</a>
					<a class="footer__link" href="#">Online Safety</a>
					<a class="footer__link" href="#">Privacy Policy</a>
					<a class="footer__link" href="#">Terms of Use</a>
				</div>
			</div>

			<div class="container">
				<div class="footer__countries"></div>
				<div class="footer__copyright">&#9426; 2017 All World Dating Enterprise Company LLC. All rights reserved. We pledge never to share or sell your Email Address.
				</div>
			</div>
		</footer>


  </main>

</body>
</html>
